NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=coloque-a-anon-key-aqui

# domínio do site público que pode consumir a API /api/products (use "*" em dev)
STOREFRONT_ORIGIN=*
